
.SearchBar {
  margin-bottom: 2rem;
}

.input-group {
  width: 100%;
}

input[type='text'] {
  height: calc(2.75rem + 2px);
  font-size: 1rem;
  border-radius: 0;
}

button {
  height: calc(2.75rem + 2px);
  border-radius: 0;
}
